
[Desktop Entry]
Name=Sonata
Comment=A simple GTK+ MPD client
Exec=sonata
Terminal=false
Type=Application
Icon=sonata
Categories=GTK;Application;AudioVideo;Player;
StartupNotify=true
Version=0.7
Encoding=UTF-8
