
[Desktop Entry]
Name=Sonata
Comment=An elegant GTK+ MPD client
Exec=sonata
Terminal=false
Type=Application
Icon=sonata
Categories=GTK;AudioVideo;Player;
StartupNotify=true
