
[Desktop Entry]
Name=Sonata
Comment=An elegant GTK+ MPD client
Exec=sonata
Terminal=false
Type=Application
Icon=sonata
Categories=GTK;Application;AudioVideo;Player;
StartupNotify=true
Version=1.1.1
Encoding=UTF-8
